.footer {
  text-align: center;
  justify-content: center;
  padding: 3.125rem 3.75rem;
  color: darksalmon;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.footer-container {
  height: 300px;  
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #3b1f0e;
}

.footer p {
  margin: 0;
}